# TF-IDF practical code

#### Take two statements

In [175]:
s1="The car is driven on the road"
s2="The truck is driven on the highway"

In [176]:
## split it in to list
a=s1.split()
b=s2.split()

In [177]:
print("a={}".format(a))
print("b={}".format(b))

a=['The', 'car', 'is', 'driven', 'on', 'the', 'road']
b=['The', 'truck', 'is', 'driven', 'on', 'the', 'highway']

### union of two list

In [178]:
## to make a single list with unique values
wordset=set(a).union(set(b))

In [179]:
wordset

{'The', 'car', 'driven', 'highway', 'is', 'on', 'road', 'the', 'truck'}

### To create a dictionary of the list

In [180]:
wordDictA=dict.fromkeys(wordset,0)
wordDictB=dict.fromkeys(wordset,0)

In [181]:
print("wordDictA={}".format(wordDictA))
print("wordDictB={}".format(wordDictB))

wordDictA={'is': 0, 'car': 0, 'road': 0, 'on': 0, 'truck': 0, 'the': 0, 'The': 0, 'driven': 0, 'highway': 0}
wordDictB={'is': 0, 'car': 0, 'road': 0, 'on': 0, 'truck': 0, 'the': 0, 'The': 0, 'driven': 0, 'highway': 0}

### Count of each word in a list

In [182]:
for word in a:
    wordDictA[word]+=1

In [183]:
wordDictA

{'is': 1,
 'car': 1,
 'road': 1,
 'on': 1,
 'truck': 0,
 'the': 1,
 'The': 1,
 'driven': 1,
 'highway': 0}

In [184]:
for word in b:
    wordDictB[word]+=1

In [185]:
wordDictB

{'is': 1,
 'car': 0,
 'road': 0,
 'on': 1,
 'truck': 1,
 'the': 1,
 'The': 1,
 'driven': 1,
 'highway': 1}

### To pass it into dataframe

In [186]:
import pandas as pd
df=pd.DataFrame([wordDictA,wordDictB])
df

   The  car  driven  highway  is  on  road  the  truck
0    1    1       1        0   1   1     1    1      0
1    1    0       1        1   1   1     0    1      1

In [187]:
## to check dict items
wordDictB.items()

dict_items([('is', 1), ('car', 0), ('road', 0), ('on', 1), ('truck', 1), ('the', 1), ('The', 1), ('driven', 1), ('highway', 1)])

### Create a function for TF

In [188]:
def computeTF(wordDict,bow):## wordDict = universal set ,bow =split sentances
    tfdict={}
    bowcount=len(bow)
    for word,count in wordDict.items():
        tfdict[word]=count/float(bowcount)
    return tfdict

In [189]:
tfdictA=computeTF(wordDictA,a)
tfdictB=computeTF(wordDictB,b)

In [190]:
print("tfdictA={}".format(tfdictA))
print("\n")
print("tfdictB={}".format(tfdictB))

tfdictA={'is': 0.14285714285714285, 'car': 0.14285714285714285, 'road': 0.14285714285714285, 'on': 0.14285714285714285, 'truck': 0.0, 'the': 0.14285714285714285, 'The': 0.14285714285714285, 'driven': 0.14285714285714285, 'highway': 0.0}


tfdictB={'is': 0.14285714285714285, 'car': 0.0, 'road': 0.0, 'on': 0.14285714285714285, 'truck': 0.14285714285714285, 'the': 0.14285714285714285, 'The': 0.14285714285714285, 'driven': 0.14285714285714285, 'highway': 0.14285714285714285}

### Define a IDF function

In [191]:
def computeIDF(docList):
    tfidf={}
    N=len(docList)
    tfidf=dict.fromkeys(docList[0].keys(),0)
    for doc in docList:
        for word,val in doc.items():
            if val > 0:
                tfidf[word]+=1
    for word,val in tfidf.items():
        tfidf[word]=math.log10(N/float(val))
    return tfidf

In [192]:
idfs = computeIDF([wordDictA, wordDictB])

In [193]:
idfs

{'is': 0.0,
 'car': 0.3010299956639812,
 'road': 0.3010299956639812,
 'on': 0.0,
 'truck': 0.3010299956639812,
 'the': 0.0,
 'The': 0.0,
 'driven': 0.0,
 'highway': 0.3010299956639812}

### Define TFIDF function

In [194]:
def computeTFIDF(tfbow,idfs):
    tfidf={}
    for word,val in tfbow.items():
        tfidf[word]=val*idfs[word]
    return tfidf

In [195]:
tfidfA=computeTFIDF(tfdictA,idfs)
tfidfB=computeTFIDF(tfdictB,idfs)

In [196]:
pd.DataFrame([tfidfA,tfidfB])

   The       car  driven   highway   is   on      road  the     truck
0  0.0  0.043004     0.0  0.000000  0.0  0.0  0.043004  0.0  0.000000
1  0.0  0.000000     0.0  0.043004  0.0  0.0  0.000000  0.0  0.043004